source ~/.vimrc

set ideajoin=true
set ideamarks=true
set ideastatusicon
set ideavimsupport
set idearefactormode

set surround
set keep-english-in-normal
set keep-english-in-normal-and-restore-in-insert

nnoremap <silent><leader>, :nohls<CR>

nnoremap == :action ReformatCode<CR>
vnoremap == :action ReformatCode<CR>

nnoremap go :action OptimizeImports<CR>
vnoremap go :action OptimizeImports<CR>

nnoremap ,a :action GotoAction<CR>
vnoremap ,a :action GotoAction<CR>
nnoremap ,b :action GotoSymbol<CR>
nnoremap ,c :action GotoClass<CR>
nnoremap ,f :action GotoFile<CR>
nnoremap ,g :action FindInPath<CR>
nnoremap ,e :action SearchEverywhere<CR>
nnoremap ,s :action FileStructurePopup<CR>

nnoremap gh :action Back<CR>
nnoremap gl :action Forward<CR>

nnoremap gb :action JumpToLastChange<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gs :action GotoSuperMethod<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap ge :action editRunConfigurations<CR>

nnoremap gz :action ToggleZenMode<CR>


nnoremap U :action FindUsages<CR>
nnoremap R :action RenameElement<CR>

nnoremap lb :action Git.Branches<CR>
nnoremap lc :action Vcs.Show.Local.Changes<CR>

nnoremap OC :action ManageRecentProjects<CR>
nnoremap nt :action ActivateTerminalToolWindow<CR>
nnoremap Nt :action Terminal.OpenInTerminal<CR>
